.footer-big {
    background-color: #05275D;
    padding-top: 42px;
    padding-bottom: 13px; //tymczasowo
    .footer-title {
        font-size: 12px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 2rem;
        @media(min-width: 1024px) {
            margin-bottom: 41px;

        }
    }
    .cell:not(:last-child) {
        margin-bottom: 2rem;
        @media(min-width: 640px) {
            margin-bottom: 0;
        }
        .grid-padding-x { 
            @include grid-padding-x(5px);
          }
    }
    .main-menu {
        flex-direction: column;
        li {
            text-align: left;
            margin-bottom: 12px;
            line-height: 1.1;
          
            a {
                padding: 0 0;
                color: rgba(255, 255, 255, 0.48);
                font-size: 10px;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .cell:last-child {
     
        .main-menu {
            li {
                a {
                    color: #fff;
                    font-size: 10px;
                    &:hover {
                        color: rgba(255, 255, 255, 0.48);
                    }
                }
            }
        }
    }
}

.rodo {
    p {
        margin-bottom: 5px;
    }
    color: rgba(255, 255, 255, 0.46);
    font-size: 8px;
     a {
        color: rgba(255, 255, 255, 0.46);
         &:hover {
             color: #fff;
         }
     }
}

.footer-small {
    .button-box {
        display: flex;
        align-items: flex-end;

    }

    background-color: rgba(191, 213, 240, 0.2);
    padding: 2rem 0;

    p, a {
        line-height: 1;
        font-size: 12px;
        color: #041E3D;
        margin-bottom: 12px;
    }
    a {
        &:hover {
        //    opacity: 0.7;
           color: #5BC5C1;
        }
    }
}

.small-footer-input-box {
    border-bottom: 1px solid #707070;
    display: flex;
    [type='email'] {
        border: none;
        background: transparent;
        margin-bottom: 0;
        transition: .3s ease-in-out;
        &::placeholder {
            font-size: 12px;
            color: rgba(4, 30, 61, 0.39);
        }
    }
    input:disabled {
        background-color: transparent;
        color: #041E3D;
        text-transform: uppercase;
        font-size: 12px;
        padding: 0.5rem;
        &:hover {
            font-weight: 500;
            color: #5BC5C1;
        }
    }
}

.footer-small-title {
    font-size: 12px;
    color: #041E3D;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1;
}