.header-top-box {
	.logo-header {
		transition: .3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
	padding: 20px 0;
	.cyt {
		margin-top: 1rem;
		align-items: center;
		@media(min-width: 640px) {
			margin-top: 0;
			align-items: flex-start;
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		h5 {
			color: #0B3367;
			font-size: 15px;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-style: italic;
			margin-bottom: 0;
		}
		p {
			font-size: 12px;
			color: rgba(11, 51, 103, 0.64);	
			margin-bottom: 0;
			em {
				font-size: 10px;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
			}
		}
	}
}

.header-menu-box {
	padding: 0 0;
	@media(min-width: 980px) {
		padding: 20px 0;

	}
	background: #E9EFF7;
}
.logos-header-box-box {
	display: none;
	@media(min-width: 980px) {
		display: flex;
		flex-direction: column;
		justify-content: center

	}
}
.logos-header-box {
	justify-content: flex-end;
	a {
		display: flex;
		margin-right: 20px;
		&:hover {
			opacity: 0.7;
		}
		img {
			filter: grayscale(100%);
		
		
		}
	}
			.search-loop {
				&:hover {
					cursor: pointer;
				}
				img {
					filter: grayscale(100%);
				}
			
					margin-left: 40px;
			
			}
}
.search-bar-wraper {
	display: none;
	position: absolute;
    width: 200px;
    right: 0;
    top: 37px;
}


header#site-header {
	position: relative;
	background: transparent;
	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}
	
	.fixed-nav.scrolled & {
		background: #fff;
	}
	
	.header-wrap {
		min-height: $header-height;
		padding-top: .5rem;
		padding-bottom: .5rem;
		.fixed-nav & {
			transition: 0.3s ease-out;
		}
		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}
	
	}
	.logo-box {
		img {
			width: 150px !important;
			height: auto;
		}
	}
}
