

	.main-menu {
	 * {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-weight: 400;
	 }
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 979px) {
		   flex-direction: column;
		}
		list-style: none;
		margin-bottom: 0;
		margin-left: 0;
		
	 
		li {
		
			font-size: 14px;
			@media screen and (max-width: 979px) {
				text-align: center;
				font-size: 14px;
				margin-bottom: 17px;
				&:hover{
					a{
						opacity: 0.7;
					}
					ul>a {
						opacity: 0.7;
					}
				   cursor: pointer;
				}
			  }
	
			&:hover > ul {
				display: block;
			}
			a {
			
				padding: 0 1rem;
				color: #041E3D;
				@media screen and (max-width: 979px) {
				//    color: #fff;
				 }
				transition: .3s ease-in-out;
				&:hover {
					color: #5BC5C1;
				}
			  
				}
				ul{
					display: none;
					margin-left: 0;
					list-style: none;
					li {
						margin-left: 0;
					}
					a {
						margin-left:0;
					}
				}
				.sub-menu {
					margin: 0;
					display: none;
					opacity: 1;
					@media(min-width: 980px){
						background: #E9EFF7;
						position: absolute;
						white-space: nowrap;
						display: none;
					}
					@media(max-width: 979px){
						opacity: 1 !important;
					}
					li {
						font-size: 12px;
						padding: 0;
						background: #E9EFF7;
						@media(min-width: 980px){
							display: block;
							border: none;
						
							padding: 6px 1rem;
						
	
						}
						a {
						
							// padding-left: 2rem;
							&:hover {
								color: #5BC5C1;
							}
							line-height: 1;
							@media(min-width: 980px){
								padding: 6px 0;
								display: block;
							}
						}
					}
				}	
	
			
			}
	
	}
.menu-wrap {
	.logos-header-box {
		.search-bar-wraper {
	
			right: 0;
			left: 0;
			margin: auto;
		}
		
		text-align: center;
		a {
			justify-content: center;
			margin-right: 0;
			margin-bottom: 17px;
		}
		.search-loop {
			margin-left: 0;
		}
		@media(min-width: 980px) {
			display: none;
		}
	}

    z-index: 101;
	display: flex;
    flex-direction: column;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	width: 85% !important;
	max-width: 300px;
    background:#fff;
    @media(max-width: 979px){ 
       box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
       padding: 0;
    }
	font-size: 14px;
	transform: translateX(100%);
	transition: transform .4s;
	text-transform:capitalize;
	font-weight: bold;
	@media(min-width: 980px){ 
		overflow-y: visible;
		position: static;
		height: auto !important;
		width: auto !important;
		max-width: none;
		background: none;
		transform: none;
		display: block;
	}
	.admin-bar & {
		top: 46px;
		height: calc(100vh - 46px);
		@media(min-width:783px){
			height: calc(100vh - 32px);
			top: 32px;
		}
	}

	&.active {
		transform: translateX(0);
	}

}



#hamburger {
	margin: 1.9rem 0 0 -2.5rem;
	width: 1.5rem;
	height: 1rem;
	position: relative;
	transform: translateX(-100%);
	z-index: 5;
	transition: all .4s, background .2s;
	display: block;
	color: #041E3D;
	&:hover {
		opacity: 0.7;
	}
	&:before, &:after, span {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: currentColor;
		transform-origin: 50% 50%;
	}
	&:before {
		position: absolute;
		top: 0;
	}
	span {
		position: absolute;
		top: 50%;
		margin-top: -1px;
	}
	&:after {
		position: absolute;
		bottom: 0;
	}
	@media(min-width: 980px){
		display: none;
	}
	
	.active & {
		transform: translateX(0);
		margin: 1.9rem 0 .3rem 1rem !important;
		// color: #fff !important;
		span {
			opacity: 0;
		}
		&:before, &:after {
			position: absolute;
			top: calc(50% - 1px);
			width: 1.5rem;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	.menu {
		overflow-y: auto;
		@media(min-width: 980px){
			overflow: visible;
		}
	}

	
}

#hamburger-main {
	@extend #hamburger;
	margin: 1.9rem 0 0 -5rem;

}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	// transition: 0.5s ease-out;
	min-height: 100px;
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 100;
	// padding-top: 20px;
	// .grid-x {
	// 	padding: 0 20px;
	// }
	.section {
		padding-bottom: 1rem;
	}
  }


  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px;
  }