///////////////////////////////main
// $blue: #296288;
@import '../general/typography';
@import '../modules/foundation-settings';

///////////////////////main
.grid-container {
    max-width: 75rem;
}

.main-first-section {
    @include breakpoint(medium) {
        padding-bottom: 3.75rem;
    }
}

.main-first {
    background-image: url("../assets/img/Group\ 494.png");
    padding: 50px 0;

    @include breakpoint(medium) {
        padding: 80px 0;
    }

    @include breakpoint(large) {
        padding: 100px 0;
    }

    .main-first-title {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        max-width: 500px;
        line-height: 1.2;

        @include breakpoint(large) {
            font-size: 40px;
        }

        margin-bottom: 1.5rem;
    }

    p {
        font-size: 14px;
        line-height: 1.4;
        color: #fff;

        @include breakpoint(medium) {
            max-width: 350px;

        }

        margin-bottom: 1.5rem;
    }
}

.news {
    .big-title {
        margin-bottom: 28px;
    }
}

.img-1 {
    background-image: url("../assets/img/doctor-sitting-in-front-of-his-desk-2182979.jpg");

}
.img-1a {
    background-image: url("../assets/img/person-holding-a-vaccine-4047186.jpg");
}
.img-1b {
    background-image: url("../assets/img/three-person-looking-at-x-ray-result-1170979.jpg");
}
.img-1c {
    background-image: url("../assets/img/ani-kolleshi-7jjnJ-QA9fY-unsplash.jpg");
}
.img-1d {
    background-image: url("../assets/img/jeshoots-com-l0j0DHVWcIE-unsplash.jpg");
}

.img-2 {
    background-image: url("../assets/img//Group\ 495.jpg");

}
.img-2b {
    background-image: url("../assets/img//Group\ 494.jpg");

}

.img-3 {
    background-image: url("../assets/img/blue-and-silver-stetoscope-40568.jpg");
}
.img-4-box {
    padding-right: 100px;
}
.img-4 {
    background-image: url("../assets/img/chair-clean-clinic-dental-care-287237.jpg");
    @include breakpoint(medium) {
        height: 100%
    }
}
.img-5 {
    background-image: url("../assets/img/woman-in-black-shirt-wearing-black-framed-eyeglasses-3867093.jpg");
}
.img-6 {
    background-image: url("../assets/img/444f22d7a47e99570ca94431f441b391.jpg");
}
.img-7 {
    background-image: url("../assets/img//1222fb9fdf659d8ac9dc2fab41dd5296.jpg");
}
.img-6, .img-7 {
    @include breakpoint(large) {
        min-height: 424px;
    }
}

.img-8 {
    background-image: url("../assets/img/photo-of-woman-wearing-stethoscope-3408367.jpg");
    min-height: 215px;
    background-position: top;
}
.img-8a {
    background-image: url("../assets/img/doctor.jpg");
    min-height: 215px;
    background-position: top;
}
.img-8b {
    background-image: url("../assets/img//francisco-venancio-M4Xloxsg0Gw-unsplash.jpg");
    min-height: 215px;
    background-position: top;
}
.img-9 {
    background-image: url("../assets/img/galeria.jpg");
    min-height: 254px;

}
.img-10 {
    background-image: url("../assets/img/b8302fd2d52ed62d224c342d3e18dda4.jpg");
    min-height: 360px;
}

.more {
    font-weight: 500;
    color: $dark-blue;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 3px;
    padding-right: 0;
    padding-left: 0;
    // text-decoration: underline;
    border-bottom: 1px solid $dark-blue;
    transition: .3s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.card {
    transition: .3s ease-in-out;

    &:hover {
        opacity: 0.7;
        .card-title {
            color: #5BC5C1 !important;
        }
        .more {
            color: #5BC5C1;
            border-bottom: 1px solid #5BC5C1;
        }
    }

    .card-img {
        height: 140px;

        @include breakpoint(large) {
            height: 205px;

        }
    }

    .card-section {
        background-color: rgba(233, 239, 247, 0.61);
        padding: 22px 27px 34px 27px;

        .card-title {
            transition: .3s ease-in-out;
            color: $dark-blue;
            font-size: 14px;
            font-weight: 600;
            min-height: 40px;
        }
    }

    p {
        color: #707070;
        font-size: 12px;
    }
}

.main-card-box-box {
    margin-bottom: 2rem;

    @include breakpoint(medium) {

        margin-bottom: 56px;
    }
}

.main-card-box {
    .grid-padding-x {
        @include grid-padding-x(15px);
    }

    @include breakpoint(medium) {
        padding-right: 7.5px;
    }

    @include breakpoint(large) {
        padding-right: 30px;
    }
}

.calendar {
    background-color: $green;
    height: 100%;
    padding: 18px;

    .calendar-title {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .date {
        font-size: 16px;
        color: #fff;
        display: block;
        margin-bottom: 33px;
    }

    .days {
        //tymczasowo
        height: 289px;
        background-color: rgba(255, 255, 255, 0.33);
        margin-bottom: 37px;
    }

    .ivent {
        border-bottom: 1px solid rgba(255, 255, 255, 0.47);
        margin-bottom: 15.5px;

        .ivent-date {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.47);
            margin-bottom: 4px;
        }

        p {
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            line-height: 1.2;
        }

        .more-box {
            margin-bottom: 23px;
            display: flex;
            .more {
                color: #fff;
                display: block;
                border-bottom: 1px solid #fff;
            }

        }

    }

    .white-button {
        margin-top: 49px;
    }
}


///////////main-look-for

.main-look-for {
    .look-for-text-box {
        .look-for-text {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.2;
            color: $dark-blue;
        }

        padding: 27px 0;
        display: flex;
        justify-content: space-between;
    }

    .look-for-cell {
        padding: 0 40px;

        @include breakpoint(large) {
            padding: 0 90px;

        }
    }

    background-color: $back-blue;
    padding: 2rem 0;

    @include breakpoint(medium) {
        padding: 57px 0;

    }

    .card-img {
        height: 173px;
    }

    .big-title {
        @include breakpoint(medium) {
            margin-bottom: 53px;

        }
    }

    .card {
        background: none;
        border-bottom: 1px solid rgba(4, 30, 61, 0.4);
    }
}

@keyframes example {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}



.sad {
    .sad-cell-box {
        display: none;
        animation-name: example;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;

        padding: 0 40px;

        @include breakpoint(large) {
            padding: 0 90px;

        }
    }

    .sad-cell-1 {
        display: block;
    }

    .grid-padding-x {
        @include grid-padding-x(40px);
    }

    .inside {
        a {
            background: $green;
            display: flex;
            flex-direction: column;
            height: 100%;

            &:hover {

                background: #041E3D;

            }

            padding: 2rem;

            @media(min-width: 1200px) {
                padding: 45px 80px;

            }
        }


        img {
            margin-bottom: 20px;
        }

        .sad-cell-title {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 2rem;
        }
        .more-box {
            display: flex;
            justify-content: center;
        }
        .more {
            color: #fff;
            margin-bottom: 0;
            border-bottom: 1px solid #fff;
        }
    }
}

.sad-choose-box {
    margin-bottom: 1.5rem;

    .grid-padding-x {
        @include grid-padding-x(40px);
    }

    padding: 0 40px;

    @include breakpoint(large) {
        padding: 0 90px;

    }

    .sad-choose {
        p {
            text-align: center;
            font-size: 21px;
            font-weight: bold;
            color: rgba(4, 30, 61, 0.38);
            transition: .3s ease-in-out;
            border-bottom: 1px solid rgba(4, 30, 61, 0.38);

            &:hover {
                color: rgb(4, 30, 61);
                border-bottom: 1px solid rgb(4, 30, 61);
                cursor: pointer;
            }

        }
    }
}

.sad-add-class {
    p {
        color: rgb(4, 30, 61) !important;
        border-bottom: 1px solid rgb(4, 30, 61) !important;

    }
}

.main-last {
    background-color: rgba(191, 213, 240, 0.1);
    @extend .main-look-for;

    .grid-padding-x {
        @include grid-padding-x(8px);
    }

    .last-main-cell {
        a {
            box-shadow:  0px 3px 20px #0B336714;
            background-color: #fff;
            padding: 2rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            border: 1px solid transparent;

            &:hover {
                // border: 1px solid $dark-blue;
                background: #F2F7FC;
            }

            .main-cell-last-title {
                font-size: 18px;
                font-weight: 500;
                color: $dark-blue;
            }

            img {
                margin-bottom: 50px;
                height: 68px
            }
        }
    }
}

///////////////////news-section
.news-add-class {
    color: #5BC5C1 !important;
    border-bottom: 1px solid #5BC5C1 !important;
}

.news-section {
    .anim-news {
        display: none;
        animation-name: example;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }

    .anim-news-1 {
        display: block;

    }

    .news-menu {

        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: rgba(4, 30, 61, 0.58);
        transition: .3s ease-in-out;
        border-bottom: 1px solid transparent;

        &:hover {
            cursor: pointer;
            color: #5BC5C1;
            border-bottom: 1px solid #5BC5C1;
        }
    }

    .news-menu-1 {
        margin-right: 60px;
    }

    .news-menu-box {
        margin-bottom: 2rem;
    }

    .big-news {
        margin-bottom: 35px;
        .small-img-height {
            margin-bottom: 0;
        }

        .big-news-title {
            font-size: 27px;
            color: #041E3D;
            font-weight: 600;

            @include breakpoint(large) {
                margin-bottom: 42px;
            }
        }

        p {
            font-size: 16px;
            color: #707070;
            line-height: 1.7;

            @include breakpoint(large) {
                margin-bottom: 27px;
            }
        }
    }

    .news-box {
        margin-bottom: 2rem;

        @include breakpoint(large) {
            margin-bottom: 71px;

        }

        .grid-padding-x {
            @include grid-padding-x(17.5px);
        }
    }

    .big-title {
        @include breakpoint(large) {
            margin-bottom: 70px;
        }
    }

    .big-news-left {
        background-color: #F1F5FA;
        padding: 2rem;

        @include breakpoint(large) {
            padding: 42px 73px
        }
    }
}


.special-menu {
    .special-submenu {
        display: none;
    }

    .title-box {
        transition: .3s ease-in-out;

        &:hover {
            cursor: pointer;
            // opacity: 0.7;
            .special-menu-title {
                color: #5BC5C1;

            }
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            margin-left: 10px;
        }

        .special-menu-title {
            transition: .3s ease-in-out;
            font-size: 13px;
            color: #041E3D;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1.3;
        }
    }

    background-color: #FAFAFA;
    padding: 50px;


    .item-box {
        border-top: 1px solid rgba(4, 30, 61, 0.3);
        padding: 23px 0;

        &:last-child {
            border-bottom: 1px solid rgba(4, 30, 61, 0.3);
        }
    }

    ul {
        margin-top: 28px;
        margin-bottom: 0;
        margin-left: 2rem;
        list-style: none !important;

    }

    ul li::before {
        content: "";
    }

    ul>li {
        cursor: pointer;
        margin-bottom: 15px;
        line-height: 1.15;
        margin-bottom: 20px;

        @media(min-width: 1360px) {
            margin-bottom: 20px;

        }

        font-size: 14px;
        font-weight: 600;
        color: rgba(4, 30, 61, 0.48);
        transition: .3s ease-in-out;

        &:hover {
            color: rgb(4, 30, 61);
        }
    }
}

.struktura-item {
    display: none;
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;

    @include breakpoint(medium) {
        padding-left: 50px;
    }

    @include breakpoint(large) {
        padding-left: 117px;
    }

    .struktura-title-small {
        font-size: 20px;
        color: #041E3D;
        margin-bottom: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    p {
        color: #707070;
        font-size: 16px;

        @include breakpoint(large) {
            margin-bottom: 90px;
        }
    }

    .go-to {
        align-items: center;
        border-bottom: 1px solid rgba(4, 30, 61, 0.4);
        padding-bottom: 10px;

        @include breakpoint(large) {
            margin-bottom: 90px;
        }
        a {
            &:hover {
                p {
                    color: #5BC5C1;
                }
            }

        }

        p {
            transition: .3s ease-in-out;
            font-size: 20px;
            font-weight: bold;
            color: #041E3D;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    ul {
        list-style: none;
        margin-left: 0;
        margin-bottom: 55px;
    }

    ul>li {
        margin-bottom: 22px;
        line-height: 1;

        a {
            display: flex;
            align-items: center;

            &:hover {
                opacity: 0.7;
            }

            p {
                margin-bottom: 0;
                font-size: 14px;
                color: #041E3D;
                font-weight: 600;
                margin-left: 9px;
            }
        }
    }

    .big-title {
        @include breakpoint(large) {
            margin-bottom: 37px;

        }

        &:first-child {
            @include breakpoint(large) {
                margin-bottom: 73px;

            }
        }
    }

    .struktura-galeria {
        .grid-padding-x {
            @include grid-padding-x(13px);
        }

        .img-4 {
            height: 254px;
            background-image: url("../assets/img/bc4e9ab664758d99355424b17333f593.jpg");
            margin-bottom: 10px;

            @include breakpoint(medium) {
                margin-bottom: 15px;
            }

            @include breakpoint(large) {
                margin-bottom: 26px;
            }
        }
    }
}
.struktura-item-1 {
    display: block;
}

.struktura-item-added-class {
    color: rgb(4, 30, 61) !important;
}


/////////////search

.search-section {
    @include breakpoint(medium) {
        padding-bottom: 3rem;
    }
}
.search-box {
    .search-box-1 {
        @include breakpoint(medium) {
            display: flex;
        }
    }

    .search-box-2 {
        .button-box {
            @media(max-width: 639px) {
                text-align: right;
            }
        }
        @include breakpoint(medium) {
            display: flex;

        }

        @include breakpoint(large) {
            flex: 1;
            justify-content: space-between;
        }
    }

    @include breakpoint(large) {
        display: flex;
        justify-content: space-between;

    }

    .select-box {
        @include breakpoint(medium) {
            margin-right: 20px;

        }

        @media(min-width: 1200px) {
            margin-right: 50px;

        }
    }

    .wpcf7-select {
        background-image: url("../assets/img/next.svg");
        border-left: none;
        border-right: none;
        border-top: 1px solid rgba(4, 30, 61, 0.2);
        border-bottom: 1px solid rgba(4, 30, 61, 0.2);
        font-size: 14px;
        font-weight: 500;

        @include breakpoint(large) {
            padding: 8px 32px 8px 16px;

        }

        &:hover {
            cursor: pointer;
        }

        color: rgba(4, 30, 61, 0.58);

        option {
            transition: .3s ease-in-out;
            color: rgba(4, 30, 61, 0.58);
            padding-top: 0;
            // background: #2F88B5;

        }
    }
    .wpcf7-select option {
        color: rgba(4, 30, 61, 0.58);
        border: none;
        -webkit-box-shadow: 0 0 22px  rgba(0,0,0,.16);
        box-shadow: 0 0 22px  rgba(0,0,0,.16);
        &:hover {
            background-color: #fff;
        }
    }
    .wpcf7-select.decorated option:hover {
        box-shadow: 0 0 10px 100px #1882A8 inset;
    }

    [type='text'] {
        @include breakpoint(large) {
            padding: 8px 16px;

        }
        @include breakpoint(medium) {
            max-width: 240px;

        }
        border-left:none;
        border-right: none;
        border-top: 1px solid rgba(4, 30, 61, 0.2);
        border-bottom: 1px solid rgba(4, 30, 61, 0.2);

        &::placeholder {
            font-size: 14px;
            font-weight: 500;
            color: rgba(4, 30, 61, 0.58);
        }
    }
}

.pdf-box {
 
    align-items: center;
    border-top: 1px solid rgba(4, 30, 61, 0.09);
    padding: 24.5px;
    a {
        display: flex;
        &:hover {
            opacity: 0.7;

        }
    }
    p {
        margin-bottom: 0;
        margin-left: 28px;
        color: #041E3D;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.4;
    }
}


.single-komisja-1 {
    .big-news-left {
        padding: 42px 42px 42px 0;
        background-color: transparent;
        p {
            margin-bottom: 0;
        }
        .big-news-title {
            font-size: 20px;
            margin-bottom: 26px;
        }
    }
}
.dyrekcja-box {
    justify-content: center;
}
.dyrekcja {
    .grid-padding-x {
        @include grid-padding-x(15px);
    }
    .big-title {
        @include breakpoint(large) {
            margin-bottom: 52px;
        }
    }
    .card {
        // max-width: 245px;
        .card-section {
            padding: 14px 0;
            background-color: transparent;
            .card-title {
                text-align: left;
            }
            p {
                text-align: left;
            }
        }
    }
    img {
        width: 100%;
    }
    // .card-img {
    //     min-height: 293px;
    //     max-width: 245px;
    // }
}

.komisja-box {
    .grid-padding-x {
        @include grid-padding-x(10px);
    }
}

.dokumenty {
    .big-title {
        @include breakpoint(large) {
            margin-bottom: 60px

        }
    }
    .grid-padding-x {
        @include grid-padding-x(50px);
    }
    .pdf-box  {
        padding: 0 0 20px 0;
        border: none;
        p {
            font-weight: 600;
            display: flex;
            align-items: flex-end;
            margin-left: 9px;
        }
        img {
            height: 16px !important;
        }
    }
}

.about-1 {
    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include breakpoint(medium) {
            padding: 2rem;

        }
        .big-title {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 22px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        p {
            font-size: 16px;
            color: #707070;
            margin-bottom: 2rem;
            @include breakpoint(large) {
                margin-bottom: 63px;
            }
        }
        .pdf-box {
            border: none;
            padding: 0;
            p {
                font-size: 20px;
                color: #041E3D;
                margin-bottom: 0;
                margin-left: 24px;
                font-weight: 400;
                font-family: Verdana, Geneva, Tahoma, sans-serif;

            }
        }
    }
    .about-text-left {
        padding-left: 0;
        @include breakpoint(large) {
            padding-right: 85px;

        }
    }

    .about-text-right {
        padding-right: 0;
        @include breakpoint(large) {
            padding-left: 85px;

        }
    }
}

.about-2 {
    @include breakpoint(large) {
        padding-bottom: 146px;
    }
    p {
        margin-bottom: 0 !important;
    }
}

.historia {
  
    .card {
        img {
            filter: grayscale(100%);
        }
    
    }
}

.nagrody, .historia {
    .grid-x {
        margin-bottom: 2rem;
        @include breakpoint(large) {
            margin-bottom: 47px;

        }
    }
    .card {
        p {
            margin-bottom: 0
        }
        .card-section {
            padding-bottom: 0;
        }
    }
}

.galeria {
    .big-title {
        @include breakpoint(large) {
            margin-bottom: 85px;

        }
    }
}

.biuletyn {
    a {
        display: block;
        &:hover {
      
            opacity: 0.7;
            span {
                color: #5BC5C1;
            }
        }
    }
    span {
       transition: .3s ease-in-out;
        display: block;
        margin-top: 9px;
        font-weight: 500;
        font-size: 16px;
        color: rgba(4, 30, 61, 0.58);
    }
    .search-box {
        margin-bottom: 2rem;
        @include breakpoint(large) {

            margin-bottom: 64px;
        }
    }
}

.kontakt {
    @include breakpoint(medium) {
        padding-left: 50px;
        padding-right: 50px;

    }
    @include breakpoint(large) {
        padding-left: 90px;
        padding-right: 90px;

    }
    .kontakt-left {
        @media(min-width: 420px) and (max-width: 639px) {
            display: flex;
            justify-content: center;
        }
        .kontakt-left-inside {
            @media(max-width: 639px) {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            }
        }
        .grid-x {
            margin-bottom: 2rem;
            @include breakpoint(large) {
                margin-bottom: 65px;

            }
        }
        p {
            font-size: 13px;
            margin-bottom: 5px;
            @include breakpoint(large) {
                font-size: 16px;
                margin-bottom: 8px;
                
            }
            font-weight: 500;
            color: rgba(4, 30, 61, 0.58);
            transition: .3s ease-in-out;
        
        }
        .left-1 {
            p {
                margin-bottom: 0;
                margin-left: 9px;
               
            }

            a {
                margin-bottom: 5px;
                @include breakpoint(large) {

                    margin-bottom: 8px;
                }
                &:hover {
                    p {
                        color: #5BC5C1;
                    }
                }
            }

        }
        .left-2 {
            .footer-small-title {
                font-size: 16px;
                color: #5BC5C1;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
    }
}

.komisje {
    .main-last  {
        background-color: transparent;
    }
}




////////////////////////////////////dots!!!!

// #p-parter {
//     .section-container {
//         @media(max-width: 1200px) {
//             padding: 0 40px;
//         }
       
//     }
//     #program-slider {
//         padding-top: 80px;
//         @media(min-width: 1201) {
//             padding-top: 110px;
//         }
//         .program__slider {
//             .wrap-slide {
//                 background-size: cover;
//                 background-repeat: no-repeat;
//                 background-position: center;
//                 //min-height: 50vh; 
//                 padding: 200px 0 80px;
//                 .slider-title {
//                     font-size: 45px;
//                     font-weight: 400;
//                     color: #fff;
//                     margin-bottom: 20px;
//                     span {
//                         color: #FFD657;
//                         font-weight: 500;
//                     }
//                     @media (max-width: 768px) {
//                         font-size: 38px;
//                     }
//                 }
//                 p {
//                     font-size: 14px;
//                     color:#fff;
//                 }
//             } 
//             .slick-dots {
//                 bottom: 25px;
//                 li {
//                     width: 10px;
//                     &.slick-active {
//                         button:before {
//                             color: #FFD657;
//                             opacity: 1;
//                         }
                       
//                     }
//                     button:before {
//                         font-size: 9px;
//                         color: #8BA0BD;
//                         opacity: 1;
//                     }
//                 }
//             }
            
//         }
//     }
//     .action-section {
//         .row {
//             justify-content: space-between;
//             .left-side {
//                 align-self: center;
//             }
//             .right-side {
//                 position: relative;
                
//                 img {
//                     float: right;
//                 }
//                 .btn-box {
//                     position: absolute;
//                     bottom: -100px;
//                     left: -70px;
//                     padding: 100px 50px 175px;
//                     max-width: 350px;
//                     background: -webkit-gradient(linear,right top,left bottom,from(#0076c0),to(#00499d));
//                     background: -webkit-linear-gradient(top right,#0076c0,#00499d);
//                     background: linear-gradient(to bottom left,#0076c0,#00499d);
//                     text-align: center;
//                     -webkit-box-shadow: 0 0 22px  rgba(0,0,0,.16);
//                     box-shadow: 0 0 22px  rgba(0,0,0,.16);
//                     @media(max-width: 768px) {
//                         left: 10px;
//                     }
//                     .title {
//                         font-size: 25px;
//                         line-height: 31px;
//                         color: #fff;
//                         margin-bottom: 50px;
//                         span {
//                             color: #FFD657;
//                             font-weight: 600;
//                         }
//                     }
//                     .btn-p {
//                         color: #004c9b;
//                         font-weight: 600;
//                         -webkit-transition: background-color .3s ease-in-out,transform .1s ease-in-out,-webkit-transform .1s ease-in-out; 
//                         transition: background-color .3s ease-in-out,transform .1s ease-in-out,-webkit-transform .1s ease-in-out; 
//                         transition: background-color .3s ease-in-out,transform .1s ease-in-out,-webkit-transform .1s ease-in-out; 
//                         transition: background-color .3s ease-in-out,transform .1s ease-in-out,-webkit-transform .1s ease-in-out; 
//                         font-size: 13px;
//                         text-transform: uppercase;
//                         padding: 20px 35px;
//                         background-color: #fff;
//                         text-decoration: none;
//                         border-radius: 30px;
//                         &:hover {
//                             background-color: #FFD657;
//                         }
//                     }
                
//                 }
//             }
//         }
//         .title {
//             font-size: 28px;
//             line-height: 34px;
//             font-weight: 400;
//             margin-bottom: 15px;
//         }
//         .text {
//             margin: 30px 0;
//             p, li {
//                 font-size: 16px;
//                 line-height: 28px;
//             }
//             ol {
//                 padding-left: 1rem;
//             }
//             ol, ol > li{
//                 list-style-type: decimal;
//             }
//             ul, ul > li {
//                 list-style-type: initial;
//             } 
//         }
//     }
//     .program__icon-section {
//         margin-top: 100px;
//         color: #fff;
//         background-color: #003479;
//         padding: 60px 0 20px;
//         .row {
//             @media(min-width: 1201px) {
//                 width: 100%;
//                 justify-content: space-between;
//             }
//         }
//         .title {
//             font-size: 28px;
//             line-height: 34px;
//             margin-bottom: 65px;
//             font-weight: 400;
//             @media (max-width: 768px) {
//                 text-align: center;
//             }
//         }
//         .text-center {
//             text-align: center;
//         }
//         .mini-title {
//             font-size: 16px;
//             line-height: 23px;
//             font-weight: 400;
//             margin-bottom: 50px;
//         }
//         .icons {
//             img {
//                 height: 40px;
//                 width: auto;
//                 margin-bottom: 20px;
//             }
//         }
        
//     }
//     .info-section {
//         background: url(https://solar.bruk-bet.pl/wp-content/themes/bbs-2020/img/backgorund/main-bg.jpg);
//         background-size: cover;
//         background-repeat: no-repeat;
//         padding: 70px 0;
//         .row {
//             justify-content: space-between;
//         }
//         .title {
//             font-size: 28px;
//             line-height: 34px;
//             margin-bottom: 45px;
//             font-weight: 400;
//             @media (max-width: 1024px) {
//                 margin-top: 50px;
//             }
//             @media (max-width: 768px) {
//                 text-align: center;
//             }
//         }
//         p, li {
//             font-size: 16px;
//             line-height: 28px;
//             @media (max-width: 768px) {
//                 text-align: center;
//             }
//         }
//         img {
//             width: 100%;
//             height: auto;
//         }
//         .right-side {
//             align-self: center;
//         }
//     }
// }

.epuap-box {
    margin-top: 2rem;
    @media(max-width: 639px) {
    display: flex;
    justify-content: center;
    }

    .epuap-inside {
        @media(max-width: 639px) {
            max-width: 420px;
        }
        img {
            @media(max-width: 639px) {
              margin-bottom: 2rem;
            }
        }
    }
}


//////////////////jobs

.job {
    padding-top: 5.5rem;
    @media screen and (min-width: 640px) {
        padding-top: 7.5rem;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 12rem;
    }
    p {
       color: rgba(88,110,124,0.8);
    }
    .job-h2 {
        margin-bottom: 2rem;
    }
}

.offer {
    &:hover {
        cursor: pointer;
            transition: .3s ease-in-out;
            color: #0B3367;
            background-color: #fff;
            border: 1px solid #0B3367;
            svg line {
                stroke: #0B3367;
            } 
            span {
                color: #0B3367;
            }
    }
    color: #fff;
    background-color: #0B3367;
    padding: 14px 2rem 14px 2rem;
    @include breakpoint(large) {
        padding: 14px 4rem 14px 4rem;

    }
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0B3367;
    transition: .3s ease-in-out;
    h3 {
        line-height: 1.15;
        margin-bottom: 0;
        font-size: 20px;
        @media(min-width: 980px) {
            font-size: 30px;

        }
        @media(min-width: 640px) and (max-width: 979px) {
           font-size: 20px;
        } 
    }
    span {
        transition: .3s ease-in-out;
        font-size: 16px;
        color: #fff;
        font-weight: 200;
    }
    svg {
      
            width: 15px;
        @include breakpoint(medium) {
            width: 20px;
        }
        @include breakpoint(large) {
            width: 25px;
        }
    }
  
}



// [data-whatintent="mouse"] .offer:hover {
//     cursor: pointer;
//     transition: .3s ease-in-out;
//     color: $blue;
//     background-color: #fff;
//     border: 1px solid $blue;
//     svg line {
//         stroke: $blue;
//     }
// }



.offer-added-class {
    color: #0B3367;
    background-color: #fff;
    border: 1px solid $blue;
    svg line {
        stroke: #0B3367;
    }
    span {
        color: #0B3367;
    }
}

.rotate {
    svg {
        transform: rotate(180deg);
    }
}

.offers-title {
    font-size: 20px;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.offer-text {
    display: none;
    padding: 2rem;
    @media(min-width: 1024px) {
       padding: 2rem 4rem 1rem 4rem;
      } 

      .cell {
          margin-bottom: 2rem;
          @include breakpoint(large) {
              margin-bottom: 51px;

          } 
      }

      h4 {
          color: #0B3367;
          font-size: 24px;
          margin-bottom: 13px;
      }
      strong {
          font-weight: 600;
      }

      p, li {
          font-size: 16px;
          color: #707070;
          line-height: 1.35;
      }

    //   ul {
    //       list-style: none;
    //   }

    //   ul li::before {
    //     //   line-height: 1.2; ///!!!
    //       font-size: 20px;
    //       color: #0B3367;
    //       content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    //       font-weight: bold; /* If you want it to be bold */
    //       display: inline-block; /* Needed to add space between the bullet and the text */
    //       width: 1em; /* Also needed for space (tweak if needed) */
    //       margin-left: -1em; /* Also needed for space (tweak if needed) */
    //   }

    ul {
        list-style: none;
        margin-left: 1rem;
        margin-bottom:0;
      
      }
      
      ul>li {
        position: relative;
      }
      
      ul>li::before {
        font-size: 30px;
        position: absolute;
        top: -8.5px;
        color: #0B3367;
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 7px;
        margin-left: -0.6em;
      }

}

.contact-job {
    display: flex;
    justify-content: center;
    .footer-form {
        max-width: 700px;
    }
    .cv-box {
        .cv {
            img {
                transition: .3s ease-in-out;
            }
            &:hover {
                img {
                    transform: scale(1.2);
                    transition: .3s ease-in-out;
                }
              
            }
        }
        margin-bottom: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
        p, span {
            color: #fff;
        }
        p {
            font-size: 16px !important;
            margin-bottom: 0;
        }
        span {
            font-size: 11px;
            opacity: 0.62;
        }
    }
}


.search-box-job {
    .search-box-1 {
        display: flex;
        justify-content: space-evenly;
    }
    margin-bottom: 2rem;
    .big-title {
        @include breakpoint(large) {
            margin-bottom: 70px;
        }
    }
    .search-box {
        @include breakpoint(medium) {
            display: flex;
            justify-content: flex-end;

        }
    }
    .news-menu-box {
        margin-bottom: 1rem;
        span:not(:last-child) {
            margin-right: 20px;
        }
        span {
            margin-bottom: 1rem;
        }
        flex-wrap: wrap;
        @include breakpoint(large) {
            justify-content: space-between;

        }
        .news-menu-1 {
            margin-right: 0;
        }
    }
}