* {
	outline: none;
	    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.transform-180 {
    transform: rotate(180deg);
}

.rotate {
    img {
        transform: rotate(180deg);
    }
}

a {
	transition: all .3s ease-in-out;
}

.grid-container-padding {
    @media (min-width: 1200px) {
        padding: 0 5%;
    }
}

.section {
    padding-bottom: 3rem;
    @media screen and (min-width: 640px) {
        padding-bottom: 5rem;
    }
    // @media screen and (min-width: 1200px) {
    //     padding-bottom: 8rem;
    // }
}

.center {
    display: flex;
    align-items: center
}
.flex {
    display: flex;
}


.height-100 {
    @media screen and (min-width: 1360px){
        min-height: 100vh;
    }
}

.order-1 {
    @media screen and (max-width: 639px) {
        order: -1;
    }
}

.small-margin-2 {
    @media(max-width: 639px) {
        margin-bottom: 2rem;
    }
}

.wrap {
    padding-top: 2rem;
    @media(min-width: 640px) {
        padding-top: 50px;
    }
    @media(min-width: 1024px) {
        padding-top: 99px;

    }
}

.position-relative {
    position: relative;
}
.position-absolute {
    position:absolute;
}

.full-width {
    width: 100%;
}

.grid-container-left {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 40em){
        padding-left: 0.9375rem;
        padding-right: 0;
    }
    // // display: flex;
    // // flex-direction: column;
    // // align-items: flex-end;
    // max-width: 50rem;
}
.grid-container-right {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 40em){
        padding-right: 0.9375rem;
        padding-left: 0;
    }
    // // display: flex;
    // // flex-direction: column;
    // // align-items: flex-end;
    // max-width: 50rem;
}

@media(min-width: 1130px) {
    .stretch-right {
        padding-right: calc( ( 100vw - 1130px) / 2 + 0.9375rem );
        }
    .stretch-left {
        padding-left: calc( ( 100vw - 1130px) / 2 + 0.9375rem );
    }

}

.no-margin-bottom {
    margin-bottom: 0 !important;
}


.link-a-opacity {
    p {
        transition: .3s ease-in-out;
        &:hover {
            opacity: 0.7;
        }

    }
}

.add-opacity {
    opacity: 0.7;
    .special-menu-title {
        color: #5BC5C1 !important;
    }
}










