@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=latin-ext');

$blue-B5: #2F88B5;
$blue: #296288;
$green: #5BC5C1;
$dark-blue:#041E3D;
$back-blue: rgba(191, 213, 240, 0.1);

* {
    font-family: 'Raleway';
}

@mixin grid-padding-x($property) {
    @media(min-width: 1024px) {
        margin-left: -$property;
        margin-right: -$property;
        > .cell {
        padding-left: $property;
        padding-right: $property;
        }

    }
  }

.small-img-height {
    @media(max-width: 639px) {
        height: 250px;
        margin-bottom: 2rem;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway';
}



.big-title {
    font-size: 30px;
    margin-bottom: 2rem;
    color:#041E3D;
//     @media screen and (min-width: 640px) {
//         font-size: 35px;
//      }
//      @media screen and (min-width: 980px) {
// font-size: ;
//      }
    // em {
    //     font-style: normal;
    //     font-weight: 400;
    // }
}

#breadcrumbs {
    margin-bottom: 0;
    font-size: 16px;
    color: rgba(88, 110, 124, 0.5);
    a {
        color: $blue;
        &:hover {
            opacity: 0.7;
        }
    }
}

.myButton {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    // @media screen and (min-width: 980px){
    //     font-size: 13px;
    // }
    // @media screen and (min-width: 1360px){
    //     font-size: 15px;
    // }
    padding: 13px 33px;
    // border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.form-button {
    @extend .myButton;
    color: #fff;
    background: transparent;
    border: none;
    font-weight: 400;
}


.green-button {
    @extend .myButton;
    background-color:#5BC5C1 !important;
    color: #fff;
    border: 1px solid #5BC5C1;
    &:hover {
       background-color: transparent !important;
       color: #5BC5C1 !important;
    }
}

.white-button {
    @extend .myButton;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
       background-color: #fff;
       color: $green;
    }
}

.m-b-80 {
    margin-bottom: 2rem;
    @media(min-width: 1024px) {
        margin-bottom: 80px;

    }
}


.mb-20-small {
    @media(max-width: 639px) {
        margin-bottom: 2rem;
    }
}